

<div class="row text-center">
    <div>
        <div class="col-md-12">
            <h4 class="textColor"> Register Ride </h4>

            <a href="#home" ng-click="Rides.selectTab(1)">
                <input style="float:right;" type="submit" value="X">
            </a>

            <div class="formColor">
                <form name="RegistrationForm" novalidate class="form-horizontal" role="form" ng-submit="saveRegistrationObject()">
                    <div class="text-center" ng-hide="RegistrationForm.$valid">
                        <span style="color:darkblue"> Please fill all fields marked in red </span>
                    </div>

                    <div class="form-group">
                        <br>
                        <label class="col-sm-2">First Name</label>
                        <input class="col-sm-2" type="text" name="FirstName" ng-model="newRegistration.FirstName"  placeholder="Enter First Name" required>
                    </div>

                    <div class="form-group">
                        <br>
                        <label class="col-sm-2">Last Name</label>
                        <input class="col-sm-2" type="text" name="LastName" ng-model="newRegistration.LastName"  placeholder="Enter Last Name" required>
                    </div>

                    <div class="form-group">
                        <br>
                        <label class="col-sm-2">Email</label>
                        <input type="email" class="col-sm-2" type="text" name="Email" ng-model="newRegistration.Email"  placeholder="Enter Email ID" required>
                    </div>

                    <div class="form-group">
                        <br>
                        <label class="col-sm-2">Phone Number</label>
                        <input class="col-sm-2" type="text" name="PhoneNumber" ng-model="newRegistration.PhoneNumber"  placeholder="Enter Phone Number" required>
                    </div>

                    <div class="form-group">
                        <br>
                        <label class="col-sm-2">Ride Name</label>
                        <select class="col-sm-2" ng-model="newRegistration.Ride" required>
                            <option value="Jumpy Joey Easy Ride">Jumpy Joey Easy Ride</option>
                            <option value="Big Bounder Down Under Ride">Big Bounder Down Under Ride</option>
                            <option value="Deadly Outback Special">Deadly Outback Special</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <br>
                        <label class="col-sm-2">Booking Date</label>
                        <div class="col-sm-2 no-padding">
                            <p class="input-group my-datepicker">
                                <input type="text"
                                       datepicker-popup="{{format}}"
                                       ng-model="newRegistration.Date"
                                       is-open="mydp.opened"
                                       datepicker-options="dateOptions"
                                       ng-required="true"
                                       close-text="Close" required/>
                                <button type="button" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>

                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <br>
                        <label class="col-sm-2">Booking Time</label>
                        <select class="col-sm-2" ng-model="newRegistration.Time" required>
                            <option value="8:00">8:00 am</option>
                            <option value="8:30">8:30 am</option>
                            <option value="9:00">9:00 am</option>
                            <option value="9:30">9:30 am</option>
                            <option value="10:00">10:00 am</option>
                            <option value="10:30">10:30 am</option>
                            <option value="11:00">11:00 am</option>
                            <option value="11:30">11:30 am</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30 pm</option>
                            <option value="1:00">1:00 pm</option>
                            <option value="1:30">1:30 pm</option>
                            <option value="2:00">2:00 pm</option>
                            <option value="2:30">2:30 pm</option>
                            <option value="3:00">3:00 pm</option>
                            <option value="3:30">3:30 pm</option>
                            <option value="4:00">4:00 pm</option>
                            <option value="4:30">4:30 pm</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <br>
                        <label class="col-sm-2">Special Needs</label>
                        <input class="col-sm-2" type="text" name="Comments" ng-model="newRegistration.SpecialNeeds" placeholder="Enter Special Needs(if any)">
                    </div>

                    <div class="form-group">
                        <br>
                        <input type="hidden" ng-model="newRegistration.id">
                        <div ng-show="RegistrationForm.$valid">
                            <input style="float:left; margin-left:150px;" type="submit" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
